container_commands:
  00_fix_permissions:
    command: "chown -R webapp:webapp storage bootstrap/cache && chmod -R 775 storage bootstrap/cache"
  01_migrate:
    command: "bash .ebextensions/migrate.sh"
    leader_only: true
  02_rotate_log:
    command: "mv storage/logs/laravel.log storage/logs/laravel.staging.log"
