container_commands:
  01_download_rds_ca:
    command: |
      mkdir -p /var/app/current/certs
      wget -O /var/app/current/certs/rds-ca-bundle.pem https://truststore.pki.rds.amazonaws.com/global/global-bundle.pem
      chmod 644 /var/app/current/certs/rds-ca-bundle.pem

option_settings:
  aws:elasticbeanstalk:application:environment:
    MYSQL_ATTR_SSL_CA: /var/app/current/certs/rds-ca-bundle.pem
