container_commands:
  01_download_rds_ca:
    command: |
      mkdir -p /opt/rds
      wget -O /opt/rds/rds-ca-bundle.pem https://truststore.pki.rds.amazonaws.com/global/global-bundle.pem
      chmod 644 /opt/rds/rds-ca-bundle.pem

option_settings:
  aws:elasticbeanstalk:application:environment:
    MYSQL_ATTR_SSL_CA: /opt/rds/rds-ca-bundle.pem
    MYSQL_ATTR_SSL_VERIFY_SERVER_CERT: "false"
